# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
*.egg
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
ENV/
.env/

# Django stuff:
*.log
staticfiles/
media/
db.sqlite3
logs/

# Env file (keep .env.production as template)
.env

# VS Code / IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo

# Distribution / packaging
/build/
/dist/

# OS files
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
celerybeat.pid
*.pid
